flask
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-pinecone
langchain-huggingface

pinecone
pypdf
sentence-transformers

pillow
opencv-python
speechrecognition
pyaudio

matplotlib
seaborn
pandas
scikit-learn
streamlit
plotly

google-generativeai
google-genai

ollama>=0.4.7

torch>=2.4.0
torchvision>=0.19.0
numpy<2

tqdm
sympy
pyttsx3
kagglehub